@import '../../style/variables.scss';

.formStep1 {

    @media (min-width: $tablet) {
        display: flex;
        justify-content: center;
        margin: 24px -8px 0;
    }

    .label-radio {
        margin-bottom: 8px;
        padding: 16px 24px;

        span {
            padding-left: 16px;
        }

        @media (min-width: $tablet) {
            padding: 24px 56px;
            margin: 0 8px;

            span {
                padding-left: 0;
                padding-top: 16px;
            }

            img {
                width: 56px;
                height: 56px;
            }

        }

    }


}