$main-bgr-color: #2F54EB;
$bgr-light: #FFFFFF;

$text-color-light: #FFFFFF;
$text-color-dark: #000000;
$text-color-grey: #263238;

$highlight-color:#52c41a; 
$active-color: #FA8C16;
$btn-color-hovAndFoc:#F16E00;
$btn-color-active:#E16803;
$btn-color-disabled:#FCC58A;

$small-tablet: 760px;
$tablet: 992px;
$desktop: 1350px;
